@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
	--button-height: 30px;
	--border-radius: 15px;
}
* {
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	/* Center the main element vertically and horizontally */
	display: grid;
	place-items: center;
	font-family: "Readex Pro", sans-serif;
}
body {
	line-height: 1.5;
	background-color: #dfdbef;
	background-image: url(./assets/heropattern.svg);
	background-size: cover;
}
main {
	margin: 30px;
	padding: 30px;
	background-color: antiquewhite;
	border-radius: var(--border-radius);
	min-width: 200px;
	max-width: 1000px;
}
.button-container-1 {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.twitter {
	padding: 0;
	margin: 0;
	border: none;
	max-height: var(--button-height);
	max-width: var(--button-height);
}
img {
	min-height: var(--button-height);
	min-width: 30px;
}
.copy-clipboard {
	/* Shift button to the right */
	margin-left: auto;
	margin-right: 30px;
}
button:not(.twitter) {
	background: #000;
	color: #dfdbef;
	border-radius: calc(var(--border-radius) - 5px);
	padding: 10px;
	font-weight: 700;
}
button:hover {
	cursor: pointer;
}
blockquote p {
	font-size: 1.5rem;
}
.author {
	font-size: 1.5rem;
	text-align: right;
}
@media (max-width: 400px) {
	.button-container-1,
	.button-container-2 {
		flex-direction: column;
	}
}
