@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
	--button-height: 30px;
	--border-radius: 15px;
}
* {
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	/* Center the main element vertically and horizontally */
	display: grid;
	place-items: center;
	font-family: "Readex Pro", sans-serif;
}
body {
	line-height: 1.5;
	background-color: #dfdbef;
	background-image: url(./assets/heropattern.svg);
	background-size: cover;
}
main {
	margin: 30px;
	padding: 30px;
	background-color: antiquewhite;
	border-radius: var(--border-radius);
	min-width: 200px;
	max-width: 1000px;
}
.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.twitter {
	padding: 0;
	border: none;
	max-height: var(--button-height);
	max-width: var(--button-height);
}
img {
	min-height: var(--button-height);
	min-width: 30px;
}
.copy-clipboard {
	/* Shift button to the right */
	margin-left: auto;
	margin-right: 30px;
}
button {
	/* Set margin for cases where quotes are very short */
	margin: 0 15px;
}
button:not(.twitter) {
	background: #000;
	color: #dfdbef;
	border-radius: calc(var(--border-radius) - 5px);
	padding: 10px;
	font-weight: 700;
}
button:hover {
	cursor: pointer;
}
blockquote p {
	font-size: 1.5rem;
}
.author {
	font-size: 1.5rem;
	text-align: right;
}
.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid rgb(8, 8, 8); /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@media (max-width: 400px) {
	.button-container {
		flex-direction: column;
	}
	button,
	.twitter {
		margin: 15px 15px;
	}
}
